*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}




.menu-side h1{
    font-size: 60px;
    margin-left: 15px px px 20px;
    font-weight: 800;
    flex-direction: column;
    margin-top: 100px;
   
}




 .container {
    background: #4d0101;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
 }




  #stopwatch {
    font-size: 100px;
    box-shadow: 0px 0px 10x black;
    padding: 10px;
    color: white;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 20px;
 }




  #buttons{
    display: flex;
 }




  button {
    padding: 20px;
    background-color: #aa9728;
    border: none;
    border-radius: 10px;
    color: rgb(38, 12, 110);
    font-size: larger;
    margin: 10px;
    width: 100px;
    box-shadow: 5px 5px 1px rgba(2, 248, 43, 0.5);
    transform: all 0.5s;
 }




 button:hover{
    cursor: pointer;
 }




 button:active{
    box-shadow: none;
    transform: all 0.5;
 }
